    body {
        font-family: "Open Sans", sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }
    .form_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: white;
        padding: 10px 20px;
    }
    .form_header_left {
        display: flex;
        align-items: center;
    }
    .form_header_icon {
        margin-right: 10px;
    }
    .form_header_right {
        display: flex;
        align-items: center;
    }
    .form_header_right img {
        margin-right: 10px;
        cursor: pointer;
    }
    .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: white;
        padding-top: 10px;
        border-top: 12px rgb(103, 58, 183) solid;
        border-left: 4px #4285f4 solid;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .start_form {
        margin-bottom: 10px;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .start_form a {
        text-decoration: none;
        color: rgb(103, 58, 183);
    }
    .start_form a:hover {
        text-decoration: underline;
    }
    .recent_forms {
        background-color: #f4f4f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .recent_forms h2 {
        color: rgb(103, 58, 183);
        margin-bottom: 10px;
    }
    .recent_forms ul {
        list-style-type: none;
        padding: 0;
    }
    .recent_forms ul li {
        margin-bottom: 10px;
    }
    .recent_forms ul li a {
        color: #333;
        text-decoration: none;
        display: block;
        padding: 10px;
        border-radius: 4px;
        background-color: #e0e0e0;
        transition: background-color 0.3s ease;
    }
    .recent_forms ul li a:hover {
        background-color: #c5c5c5;
    }
    .form_name {
        color: black;
        font-weight: 500;
    }
    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 150;
        font-style: normal;
    }

    #shareLink{
        border: 2px solid black;
    }

    .btn-primary{
        background-color: rgb(103, 58, 183);
    }

    :hover.btn-primary{
        background-color: rgb(96, 4, 96);
        color: white;
    }
